<h1 class="text-center mb-3">{{title}}</h1>


<h3>Add Item</h3>
<form action="/api/items" method="POST" class="mb-4">
    
    <div class="form-group">
        <label for="item">Item</label>
        <input type="text" name="item" class="form-control" placeholder="Enter item name">
    </div>
    
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" name="price" class="form-control" placeholder="Enter item price">
    </div>
    
    <input type="submit" value="Add Item" class="btn btn-primary btn block">
    
</form>

<br/>

<h3>Items</h3>

<table class="table table-hover">
    
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        {{#each itemInv}}
            <tr>
                <td scope="row" class="rowItemID">{{this.id}}</td>
                <td>{{this.item}}</td>
                <td>{{this.price}}</td>
                <td><input type="button" value="Delete" onclick="deleteItemFromInventory()"></td>
            </tr>
        {{/each}}
    </tbody>
    
</table>

<br/>